body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.header {
	height: 500px;
	background: url('img/header_bg.jpg') no-repeat;
	background-size: cover;
}
.header a {
	font-size: 16pt;
	color: #fff;
	margin-top: 5px;
	margin-left: 5px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
.header p {
	font-size: 42pt;
	color: #fff;
	text-transform: lowercase;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	font-family: 'Open Sans', sans-serif;
font-family: 'Bad Script', cursive;
}

@media screen and (max-width:760px) {
	.header {
		height: 300px;
	}
	.header a {
		display: none;
	}
	.header p {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 32pt;
	}
}

.main-menu {
	width: 100%;
	background-color: #FFFFFF;
	text-align:center;
	font-family: 'Kavivanar', cursive;

}
.main-menu li {
	display: inline-block;
	height: 50px;
	transition: 2s;
}
.main-menu li a {
	color: #000;
	font-size: 18pt;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 50px;
	display: block;
}
.main-menu li:hover {
	background-color: #9FB6CD	;
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
	
	
}


@media screen and (max-width:760px) {
	.main-menu {
		padding: 0;
	}
	.main-menu li {
		display: block;
		text-align: center;
		width: 100%;
		
	}
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.gallery img {
	width: 100%;	
}
.gallery div {
	padding: 0;
}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
	font-family: 'Kavivanar', cursive;
}

.image-container:hover .overlay {
	opacity: 0.7;
}

.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
	font-family: 'Kavivanar', cursive;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #000000;
}


.contact-form {	
	background-color: #FFFFFF;
	padding: 0px;
	font-family: 'Kavivanar', cursive;
}
.contact-form h1 {
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.form-control {
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.btn-default {
	border: 0;
}

@media screen and (max-width:760px) {
	.contact-form {
		padding: 30px;
	}
}



.footer {
	height: 400px;
	background: url('img/footer_bg.jpg') no-repeat;
	background-size: cover;
}
.footer img {
	margin: 100px 0 0 100px;
}	
.footer ul {
	margin-top: 100px;
	float: right;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: #fff;
	font-size: 18pt;
	padding-left: 5px;
	padding-right:5px;
	line-height: 50px;
	display: block;
	text-decoration: none;
	font-family: 'Kavivanar', cursive;
}

@media screen and (max-width:760px) { 
	.footer img {
		width: 50%;
		margin: 80px auto 0 auto;
		display: block;
	}
	.footer ul {
		margin: 5px 0 0 0;
		text-align: center;
		float: none;
	}
	.footer ul li {
		display: block;
	}
}


.section {
	margin: 50px 0;
}
.square-blocks div {
	height: 250px;
}
.square-blocks .light-gray-bg {
	background-color: #F0F0F0;
}
.square-blocks .dark-gray-bg {
	background-color: #E0E0E0;
}
.section h1 {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Kavivanar', cursive;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
	
}
.about-me img,
.article img {
	width: 100%;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	
}
.square-blocks span {
	font-size: 32pt;
}
.square-blocks a {
	color: #000;
}
.square-blocks a:hover {
	color: #F1C40F;
	text-decoration: none;
}
#vegas {
	height: 500px;
}